@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Programa de Cadastro de Usuários</h1>
    <p>Utilize a barra de navegação para realizar as operações de Cadastro e Listagem.</p>
</div>
